<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span jhiTranslate="nhipsterApp.activity.detail.title">Activity</span> {{ activity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nhipsterApp.activity.name">Name</span></dt>
                <dd>
                    <span>{{ activity.name }}</span>
                </dd>
                <dt><span jhiTranslate="nhipsterApp.activity.description">Description</span></dt>
                <dd>
                    <span>{{ activity.description }}</span>
                </dd>
                <dt><span jhiTranslate="nhipsterApp.activity.mynumber">Mynumber</span></dt>
                <dd>
                    <span>{{ activity.mynumber }}</span>
                </dd>
                <dt><span jhiTranslate="nhipsterApp.activity.creationtime">Creationtime</span></dt>
                <dd>
                    <span>{{ activity.creationtime }}</span>
                </dd>
                <dt><span jhiTranslate="nhipsterApp.activity.singleCourse">Single Course</span></dt>
                <dd>
                    <div *ngIf="activity.singleCourse">
                        <a [routerLink]="['/single-course', activity.singleCourse?.id, 'view']">{{ activity.singleCourse?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nhipsterApp.activity.demetrauser">Demetrauser</span></dt>
                <dd>
                    <div *ngIf="activity.demetrauser">
                        <a [routerLink]="['/demetra-user', activity.demetrauser?.id, 'view']">{{ activity.demetrauser?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
