<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-activity-heading" jhiTranslate="nhipsterApp.activity.home.createOrEditLabel">Create or edit a Activity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nhipsterApp.activity.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nhipsterApp.activity.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nhipsterApp.activity.mynumber" for="field_mynumber">Mynumber</label>
                    <input type="number" class="form-control" name="mynumber" id="field_mynumber"
                           formControlName="mynumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nhipsterApp.activity.creationtime" for="field_creationtime">Creationtime</label>
                    <div class="d-flex">
                        <input id="field_creationtime" type="datetime-local" class="form-control" name="creationtime" formControlName="creationtime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nhipsterApp.activity.singleCourse" for="field_singleCourse">Single Course</label>
                    <select class="form-control" id="field_singleCourse" name="singleCourse" formControlName="singleCourse">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="singleCourseOption.id === editForm.get('singleCourse')!.value?.id ? editForm.get('singleCourse')!.value : singleCourseOption" *ngFor="let singleCourseOption of singlecourses; trackBy: trackById">{{ singleCourseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nhipsterApp.activity.demetrauser" for="field_demetrauser">Demetrauser</label>
                    <select class="form-control" id="field_demetrauser" name="demetrauser" formControlName="demetrauser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="demetraUserOption.id === editForm.get('demetrauser')!.value?.id ? editForm.get('demetrauser')!.value : demetraUserOption" *ngFor="let demetraUserOption of demetrausers; trackBy: trackById">{{ demetraUserOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
